@use "uswds-core" with (
    $theme-image-path: "../uswds/img",
    $theme-font-path: "../uswds/fonts",
    $theme-show-compile-warnings: false,
    $theme-show-notifications: false,
    $theme-focus-color: "blue-50v",
    $theme-global-paragraph-styles: true,
    $theme-global-link-styles: true,
    $theme-global-content-styles: true,
    $theme-utility-breakpoints: (
      "card": false,
      "card-lg": true,
      "mobile": true,
      "mobile-lg": true,
      "tablet": true,
      "tablet-lg": true,
      "desktop": true,
      "desktop-lg": true,
      "widescreen": true
    ),
  );

// Documentation states that this next line is needed, however it cause the build to break
// @forward 'uswds'; 

@import "~@trussworks/react-uswds/lib/index.css";

/**
Some USWDS components have pseudo elements (::before and ::after) that use the mask CSS property. This property does not always render in Chrome 108 (seems to work in FF  and Safari)
*/
.usa-alert--info:before {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtNmgydjZ6bTAtOGgtMlY3aDJ2MnoiLz48L3N2Zz4=) no-repeat center/contain;
}

.usa-banner__button::after {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OSAxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjwvc3ZnPg==) no-repeat center/contain;
}

/**
Remove bottom-border on navbar
*/
.usa-header {
  +.usa-section,
  +main {
    border-top-width: 0;
  }
}